.App {
  text-align: center;
}

.phone-picture {
  width: 100%;
  object-fit: cover;
  height: 640px;
}

.phone-container {
  background-color: white;
  max-width: 850px;
  border-radius: 12px;

  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 16px;
  font-size: 48px;
  margin-bottom: 0px;

  /* font-weight: bold; */
}

.phone-company {
  /* padding: 16px; */
  font-size: 32px;
  color: grey;
  /* font-weight: bold; */
  margin-top: 0px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 30px;
}
